html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(130deg, #ff7e00, #43e0b6, #ff6cb6);
  background-size: 200% 200%;
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#app-container {
  position: relative;
  height: 100vh;
  width: 100vw;
}

#qrcode {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

#gallery {
  width: 100vw;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}


#upload {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

@media (max-width: 768px) {
  #gallery {
      display: none;
  }
}