html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #a4eda1;
}

#app-container {
  position: relative;
  height: 100vh;
  width: 100vw;
}

#qrcode {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

#gallery {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

#upload {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
}