#gallery {
    transition: transform 1s ease-out;
    transform: translateY(0%);
    opacity: 1;
}

#gallery.transition {
    transform: translateY(100%);
}

#gallery.hide-above {
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0s ease-out;
}